In [1]:
total_class = 8
attendance = int(input("How many times did you attend class; "))
percentage = (attendance/total_class) * 100
if percentage >= 75:
    print("Congratulations, you've met the graduation requirement!!!")
else:
    print("Sorry, you have to repeat python fundamental")

How many times did you attend class; 10
Congratulations, you've met the graduation requirement!!!

In [2]:
temp = int(input("what is the temperature outside today; "))
if temp >=25 and temp <= 30:
    print("The temperature is good today...")
    print(" why don't we go hiking..")
elif temp < 25:
    print("The temperature seems cold")
    print("I'd advice you take an umbrella if you must go out")
else:
    print("The temperature is too hot..")

what is the temperature outside today; 88
The temperature is too hot..

---

# NESTED IF STATEMENT...

In [6]:
age = int(input('Enter your age; '))
print('Do you have a driving license?')
d_l = input('Enter yes or no; ')
if age < 0 or age <=17:
    if d_l == 'no':
        print('You should attend a driving school')
        print('And obtain your driving license')
    if d_l == 'yes':
        print('It is illegal to have a driving license when you"r not of age')
        print('contact the federal road safety corps')
    
elif age > 18 and age <= 70:
    if d_l == 'yes':
        print('You are of age and licensed to drive')
        print('kudos on getting your license gem, hop on the road')
    if d_l == 'no':
        print('You are of age, but you need a license to drive')

elif age > 70 and d_l == 'yes':
    print('You are fit to drive, but consider getting a driver')
elif age > 70 and d_l == 'no':
    print('Since you don"t have a driving license, get a licensed driver to drive you around.')
else:
    print('I don"t understand you..')
    print('please repeat the process indicating your age in numbers and yes or no if you have a driving license or not')

Enter your age; 16
Do you have a driving license?
Enter yes or no; yes
It is illegal to have a driving license when you"r not of age
contact the federal road safety corps

---

# DATA STRUCTURE (LIST, TUPLES,STRINGS,DICTIONARY AND SETS

---

# LIST

In [29]:
list1 = [1,2,"smart",True,3.5,"hub"]

In [28]:
print(type(list1))

<class 'list'>

In [26]:
list1[0]

1

In [35]:
list1[-1]

'hub'

In [31]:
list1[1:5]

[2, 'smart', True, 3.5]

In [34]:
len(list1)

6

In [37]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [39]:
list2[0:9:2]

[1, 3, 5, 7, 9]

In [40]:
list2[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
list2[:10:2]

[1, 3, 5, 7, 9]

In [47]:
list2[1:10:2]

[2, 4, 6, 8, 10]

In [48]:
list2[4:]

[5, 6, 7, 8, 9, 10]

---

In [49]:
# OPERATIONS WITH LIST

In [57]:
list3 = [2]*10

In [58]:
list3

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [59]:
list4 =[0]
print(list4 *10)
print(list4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0]

In [60]:
#LIST CONCATINATION

In [61]:
listadd = list1 + list2

In [62]:
listadd

[1, 2, 'smart', True, 3.5, 'hub', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
#LIST UNPACKING

In [64]:
list6 = list("smart hub")

In [65]:
list6

['s', 'm', 'a', 'r', 't', ' ', 'h', 'u', 'b']

---

# METHODS IN LIST

In [66]:
list1

[1, 2, 'smart', True, 3.5, 'hub']

In [67]:
list1.append("python")

In [68]:
list1

[1, 2, 'smart', True, 3.5, 'hub', 'python']

---

In [72]:
list1.extend(list2)

In [73]:
list1

[1,
 2,
 'smart',
 True,
 3.5,
 'hub',
 'python',
 'p',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

---

In [74]:
list6

['s', 'm', 'a', 'r', 't', ' ', 'h', 'u', 'b']

In [75]:
list6.insert(5,"tech")

In [76]:
list6

['s', 'm', 'a', 'r', 't', 'tech', ' ', 'h', 'u', 'b']

---

In [78]:
list6.append('s')

In [79]:
list6

['s', 'm', 'a', 'r', 't', 'tech', ' ', 'h', 'u', 'b', 's']

In [80]:
list6.remove('s')

In [81]:
list6

['m', 'a', 'r', 't', 'tech', ' ', 'h', 'u', 'b', 's']

In [83]:
list7 = [9,7,3,4,1,7,4,21,77,89]
list7

[9, 7, 3, 4, 1, 7, 4, 21, 77, 89]

In [84]:
list7.sort()

In [85]:
list7

[1, 3, 4, 4, 7, 7, 9, 21, 77, 89]

---

# BUILT IN FUNCTIONS WITH LIST

In [86]:
list7

[1, 3, 4, 4, 7, 7, 9, 21, 77, 89]

In [87]:
len(list7)

10

In [88]:
min(list7)

1

In [89]:
max(list7)

89

In [90]:
sum(list7)

222

In [92]:
average = sum(list7)/len(list7)
average

22.2

---

In [8]:
16%7

2

---

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [8]:
odd_numbers = numbers[::2]

In [9]:
even_numbers = numbers[1::2]

In [11]:
print(numbers)
print(odd_numbers)
print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [14]:
numbers1 = list(range(1,101))
odd_numbers1 = numbers1[::2]
even_numbers1 = numbers1[1::2]




print(numbers1)
print(odd_numbers1)
print(even_numbers1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

  # TUPLE

In [22]:
nigeria = ('abia', 'imo', 'rivers', 'edo')

In [23]:
print(type(nigeria))

<class 'tuple'>

In [24]:
NGN = 'enugu', 'delta'

In [25]:
print(type(NGN))

<class 'tuple'>

In [26]:
print(nigeria[0])

abia

In [28]:
#concatenating tuples

print(nigeria + NGN)

('abia', 'imo', 'rivers', 'edo', 'enugu', 'delta')

In [30]:
#nesting tuples (tuples inside tuple)

nest = (nigeria,NGN)
nest

(('abia', 'imo', 'rivers', 'edo'), ('enugu', 'delta'))

In [33]:
# tuple unpacking

unpack = tuple("programming")
unpack

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

---

In [34]:
# built in function with tuples

In [37]:
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [38]:
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [42]:
num1 = (3,5,2,5,6,7,8,9,2,3,2,2)
num1

(3, 5, 2, 5, 6, 7, 8, 9, 2, 3, 2, 2)

In [43]:
num1.count(2)

4

In [44]:
num1.count(5)

2

In [45]:
max(num1)

9

In [46]:
min(num1)

2

In [47]:
len(num1)

12

In [50]:
#converting list to tuple


lyst = [1,2,3,4]
tupl = tuple(lyst)

print(lyst)
print(tupl)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [51]:
# Tuple in a list

lst = [(1,2,3),('a','b','c')]
lst.append((4,5,6))
print(lst)

[(1, 2, 3), ('a', 'b', 'c'), (4, 5, 6)]

In [6]:
#list in a tuple

tp1 = (['a','b','c'],['d',4,True])
tp1[0].append('z')
tp1

(['a', 'b', 'c', 'z'], ['d', 4, True])

In [1]:
tuple1 = tuple(range(0,10))
tuple1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
tuple2 = tuple1 + tuple(range(10,16))
tuple2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

---

# STRINGS

In [55]:
stg = 'smart hub'
print(type(stg))
print(stg)

<class 'str'>
smart hub

In [57]:
print(stg[0:5])

smart

In [58]:
print(stg.upper())

SMART HUB

In [59]:
stg2 = 'SMart hUb'
print(stg2.lower())

smart hub

In [60]:
stg3 = 'smart hub is indeed a good learning place'
print(stg3.replace('learning', 'technical'))

smart hub is indeed a good technical place

In [63]:
#string concatenation

stg4 = 'happy'
stg5 = 'sunday'
stg6 = 'to you all'
stg7 = stg4+' '+ stg5+' '+ stg6
print(stg7)

happy sunday to you all

---

# DICTIONARY

In [64]:
d1 = {100 : 'welcome', 'name':'mark','age': 20}

In [65]:
print(d1)

{100: 'welcome', 'name': 'mark', 'age': 20}

In [66]:
print(d1['name'])

mark

In [67]:
print(d1['age'])

20

In [68]:
d1['height'] = 50

In [71]:
print(d1)

{100: 'welcome', 'name': 'mark', 'age': 20}

In [70]:
d1.pop('height')
d1

{100: 'welcome', 'name': 'mark', 'age': 20}

In [72]:
d1.values()

dict_values(['welcome', 'mark', 20])

# FOR LOOP

In [37]:
list1=[]
for i in range(0,21,2):
    list1=list1+[i]
print(list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [32]:
Sum=int()
for i in range(0,20):
    if i%2 ==0:
        Sum = Sum + i
print(Sum)

90

In [46]:
x = [[1,2,3],['a','b','c']]
for i in x:
    for j in i:
        print(j, end='')
    print()

123
abc

In [3]:
vv = int(input('enter your list range + 1; '))
list0=[]
for i in range(1,vv,2):
    list0=list0+[i]
    print(i)
print(list0)

enter your list range + 1; 6
1
3
5
[1, 3, 5]

In [7]:
#CREATING A PATTERN USING FOR LOOP

#  1
#  12
#  123
#  1234
#  12345

n = int(input('Enter a number; '))
for i in range(1,n+1): #for the number of rolls
    for j in range(1,i+1):
        print(j, end='')
    print()

Enter a number; 5
1hhh
12hhh
123hhh
1234hhh
12345hhh

In [ ]:
#ACCESSING THE ELEMENT OF A METRIX

r = int(input('Enter the no of roll; '))
c = int(input('Enter the no of column; '))
x = []
for i in r:
    for j in c:
        val1.insert(j,input())

# BREAK, CONTINUE, PASS...

In [10]:
x = 'hey there, how are you?'
for i in x:
    if i == ' ':
         break
    print(i, end='')

hey

In [7]:
num1 = tuple(range(1,9))
count=0
while count<9:
    print(num1[count])
    count=count+1
    if count==5:
        break
print('end')

1
2
3
4
5
end

In [11]:
xx = [1,13,56,6,7,2]
for i in xx:
    if i>10:
        pass
    else:
        print(i, end='')

1672

In [6]:
for letters in 'smart hub python class':
    if letters == 's':
        continue
    print(letters,end='')

mart hub python cla

In [77]:
for num in [10,7,17,42,33,19,69]:
    if num%2==0:
        continue
    print(num, )

7
17
33
19
69

---

In [85]:
for num in range(10,25):
    if num%2!=0:
        pass
    else:
        print(f'{num} is an even number')

10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number
20 is an even number
22 is an even number
24 is an even number

In [88]:
def print_num(number):
    if number is 10:
        pass
    else:
        print('number is; ', number)

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\michael\AppData\Local\Temp/ipykernel_6072/1480502194.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if number is 10:

In [90]:
print_num(10)

In [9]:
val1 = int(input('Enter a multiple of 7; '))
while val1%7:
    if val1  !=0:
        val1 = int(input('Enter a multiple of 7; '))
else:
    print(f'{val1} is a multiple of 7.')

Enter a multiple of 7; 2
Enter a multiple of 7; 6
Enter a multiple of 7; 99
Enter a multiple of 7; 66
Enter a multiple of 7; 67
Enter a multiple of 7; 77
77 is a multiple of 7.

In [1]:
val1 = int(input('Enter a multiple of 7; '))
while val1%7 !=0:
    val1 = int(input('Enter a multiple of 7; '))
else:
    print(f'{val1} is a multiple of 7.')

Enter a multiple of 7; 2
2 is a multiple of 7.

In [16]:
val1 = int(input('Enter a multiple of 7; '))
if val1%7 !=0:
    val1 = int(input('Enter a multiple of 7; '))
else:
    print(f'{val1} is a multiple of 7.')

Enter a multiple of 7; 21
21 is a multiple of 7.

# SETS

In [8]:
s1 = set(['a','b','c','d'])
s1

{'a', 'b', 'c', 'd'}

In [9]:
print(type(s1))

<class 'set'>

In [10]:
#Adding an element to a set


s1.add('e')
s1

{'a', 'b', 'c', 'd', 'e'}

In [12]:
s2 = frozenset([1,2,3,4]) #frozen set is an immutable set, justb like a tuple
s2

frozenset({1, 2, 3, 4})

In [13]:
s2.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
s3 = set([1,3,7,2])
s4 = set([3,2,8,9])

In [15]:
s3.union(s4)

{1, 2, 3, 7, 8, 9}

In [16]:
s3.difference(s4)

{1, 7}

In [18]:
s3.intersection(s4)

{2, 3}

In [23]:
#BASIC OPERATIONS WITH SETS

s3==s4

False

In [20]:
s3>s4

False

In [21]:
1 in s3

True

In [22]:
1 not in s3

False

---

# LOOPS

In [ ]:
# FOR LOOP
# WHILE LOOP
# NESTED LOOP

In [29]:
4//2

2

# FOR LOOP

In [31]:
x = 'smart hub'
for i in x:
    print(i)

s
m
a
r
t

h
u
b

In [35]:
var1=0
for num in range(0,21,2):
    var1=var1+num
pri

0
2
4
6
8
10
12
14
16
18
20

In [36]:
#summation of all the even numbers from 0 to 20
summ=0
for i in range(0,20):
    if i%2==0:
        summ=summ+i
print(summ)

90

# FUNCTIONS

In [9]:
def greeting(name="guest"):
    print('happy sunday', name)

In [10]:
greeting("Henry")

happy sunday Henry

In [23]:
greeting('mark')

happy sunday mark

In [11]:
def add(a,b):
    total = a+b
    print(f"{total} is the sum of the two numbers.")

In [12]:
add(4,8)

12 is the sum of the two numbers.

In [13]:
def addall(*a):
    total = 0
    for i in a:
        total = total+i
    print("The sum is ", total)

In [15]:
addall(1,2,3,6,7,8,9)

The sum is  36

In [33]:
addall(2,4,6,8,10)

The sum is  30

In [21]:
#ASSIGNMENT

'''CREATE A FUNCTION THAT CALCULATES THE VOLUME OF A CYLINDER (PI*RADIUS**2*HEIGHT)
PI WILL BE A CONSTANT 3.14, WHILE THE RADIUS AND HEIGHT WILL VARY FOR DIFFERENT
CYLINDER. PRINTTHE  VOLUME OF FIVE DIFFERENT CYLINDER WITH THIS FUNCTION.'''
import math
def cylinder(radius,height):
    return 'The volume of the cylinder is ', math.pi*radius*radius*height


vol1= cylinder(23,40)
vol2 = cylinder(12,31)
vol3 = cylinder(11,5)
vol4 = cylinder(4,6)
vol5 = cylinder(4,9)
print(vol1)
print(vol2)
print(vol3)
print(vol4)
print(vol5)

('The volume of the cylinder is ', 66476.10054996001)
('The volume of the cylinder is ', 14024.069605624836)
('The volume of the cylinder is ', 1900.6635554218246)
('The volume of the cylinder is ', 301.59289474462014)
('The volume of the cylinder is ', 452.3893421169302)

# LAMBDA FUNCTIONS

In [26]:
fun = lambda a,b:a/b

In [27]:
fun(10,20)

0.5

---

# FILE AND EXCEPTION HANDLING

### FILE HANDLING

In [29]:
# syntax for file handling...
# f = open("filename.txt" "")
# 'r' read a file
# 'w' write on a file
# 'x' to create new file

In [31]:
import os
os.getcwd()

'C:\\Users\\michael\\Desktop\\python jupyter'

In [33]:
file1 = open("list.txt", "r")
print(file1.read())
file1.close

python is very easy
today is saturday
tomorrow is sunday

# MAP, REDUCE AND FILTER FUNCTIONS
## MAP

In [8]:
# map(func, iterable)
def new(a):
    return a*a
x=map(new,[1,2,3,4])
print(x)
print(list(x))

<map object at 0x0000029EAB88A340>
{16, 1, 4, 9}

In [7]:
print(list(x))

[]

In [ ]:
print(set(x))

In [9]:
def new(a,b):
    return a*b
x=map(new,[1,2,3,4],[2,3,4,5])
print(x)
print(list(x))

<map object at 0x0000029EAB88A940>
[2, 6, 12, 20]

In [10]:
#lambda function in map
lst=[1,2,3,4,5]
y=list(map(lambda x:x+3,lst))
print(y)

[4, 5, 6, 7, 8]

# FILTER

In [11]:
# filter(func, iterable)
def new1(i):
    if i>=3:
        return i
j= filter(new1,(1,2,3,4,5,6,7,8,9))
print(j)
print(list(j))

<filter object at 0x0000029EAB88A6A0>
[3, 4, 5, 6, 7, 8, 9]

In [12]:
z = filter(lambda x:(x>=3),(1,2,3,4,5,6,7,8,9))
print(tuple(z))

(3, 4, 5, 6, 7, 8, 9)

# REDUCE

In [13]:
# reduce(func, iterables)
from functools import reduce
def new2(x,y):
    return x+y
s = reduce(new2,[1,2,3,4,5,6,7,8,9])
print(s)

45

In [15]:
reduce(lambda q,p: q*p,[1,2,3,4,5,6,7,8,9])

362880

In [3]:
class car:
    def getspeed(self):
        print('155 mph')
BMW = car()
FORD = car()
car.getspeed(BMW)
FORD.getspeed()

155 mph
155 mph

In [4]:
class car:
    def __init__(self, year, speed): #init means initializing...
        self.year = year
        self.speed = speed
    def getspeed(self):
        print('maximum speed is: ', self.speed)
BMW = car(2018, 155)
FORD = car(2016, 140)
car.getspeed(BMW)
FORD.getspeed()

maximum speed is:  155
maximum speed is:  140

In [5]:
class car:
    def __init__(self, year, speed): #init means initializing...
        self.year = year
        self.speed = speed
    def getspeed(self):
        print('maximum speed is: ', self.speed)
    def setspeed(self, speed):
        self.speed = speed
BMW = car(2018, 155)

BMW.getspeed()
BMW.setspeed(143)

BMW.getspeed()

maximum speed is:  155
maximum speed is:  143

# INHERANTENCE

In [6]:
class car:
    def __init__(self, year, speed): #init means initializing...
        self.year = year
        self.speed = speed
    def getspeed(self):
        print('maximum speed is: ', self.speed)
    def setspeed(self, speed):
        self.speed = speed
BMW = car(2018, 155)
FORD = car(2016, 140)

# we are inheriting the class car features intto our new class
# the two classes below are called child class of car

class sedan(car):
    def accelerate(self):
        print('137')
    def opentrunk(self):
        print('trunck has been open')
class suv(car):
    def accelerate(self):
        print('127')

Honda = sedan(2018, 150)
BMW.getspeed()
Honda.getspeed()

maximum speed is:  155
maximum speed is:  150

In [7]:
Honda.opentrunk()
BMW.opentrunk()

trunck has been open

AttributeError: 'car' object has no attribute 'opentrunk'

# FILE HANDLING

In [1]:
import os
os.getcwd()

'C:\\Users\\michael\\Desktop\\python jupyter'

In [7]:
file2= open("today22.txt", "r")
print(file2.read())
file2.close()

Today is saturday
Tomorrow is sunday
looking forward to new week

In [35]:
import os
file = open("C:\\Users\\michael\\Downloads\\list.txt", "r")
print(file.read())
file.close()

python is very easy
today is saturday
tomorrow is sunday

In [36]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\list.txt", "r")
print(file.read(7))
file.close()

python

In [37]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\list.txt", "r")
print(file.readline())
file.close()

python is very easy

In [38]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\list.txt", "r")
print(file.readlines())
file.close()

['python is very easy\n', 'today is saturday\n', 'tomorrow is sunday']

In [39]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\list.txt", "r")
print(file.readline(4))
file.close()

pyth

In [40]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\list.txt", "w")
file.write('monday')
file.write('tuesday')
file.close()

In [42]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\newfile2.txt", "x")
file.write('prigramming')
file.close()

In [ ]:
import os
file = open("C:\\Users\\michael\\Desktop\\python jupyter\\today.txt", "r")
print(file.read())
file.close()

---

# EXCEPTION HANDLING

In [ ]:
# try:


#except:

In [43]:
a = 10
b = 0
c = a/b
print(c)

ZeroDivisionError: division by zero

In [44]:
try:
    a = 10
    b = 0
    c = a/b
except:
    print('cant divide with zero')

cant divide with zero

In [46]:
a = 10
b = 0
try:
    print(a/b)
    print('done')
except ZeroDivisionError :
    print(" no dey divide by zero")

 no dey divide by zero

---

# OBJECT ORIENTED PROGRAMMING IN PYTHON

In [56]:
class car:
    def __init__(self,year,speed):
        self.year = year
        self.speed = speed
    def getspeed(self):
        print('The maximum speed is ', self.speed, 'it was produced in the year ', self.year)

In [57]:
# creating an instance for car
BMW = car(2018,155)
Toyota = car(2016, 140)

In [58]:
BMW.getspeed()

The maximum speed is  155 it was produced in the year  2018

In [59]:
Toyota.getspeed()

The maximum speed is  140 it was produced in the year  2016

In [60]:
class car:
    def __init__(self,year,speed):
        self.year = year
        self.speed = speed
    def getspeed(self):
        print('The maximum speed is ', self.speed)
    def setspeed(self, speed):
        self.speed = speed

In [61]:
BMW = car(2018,155)
Toyota = car(2016, 140)

In [62]:
BMW.getspeed()

The maximum speed is  155

In [63]:
BMW.setspeed(600)

In [64]:
BMW.getspeed()

The maximum speed is  600

In [65]:
Toyota.getspeed()

The maximum speed is  140

In [66]:
Toyota.setspeed(120)

In [67]:
Toyota.getspeed()

The maximum speed is  120

# INHERITANCE

In [68]:
class sedan(car): #  This is a child class of the class car
    def acclerate(self):
        print('137')
    def tyre(self):
        print('The tyre is round')

In [69]:
class suv(car):
    def accelerate(self):
        print('127')

In [70]:
Honda = sedan(2018,150)

In [71]:
BMW.getspeed()
Honda.getspeed()

The maximum speed is  600
The maximum speed is  150

In [72]:
Honda.tyre()
BMW.tyre()

The tyre is round

AttributeError: 'car' object has no attribute 'tyre'

---

# OVERLOADING

In [77]:
class num():
    def __init__(self,n1,n2):
        self.n1=n1
        self.n2=n2
    def __add__(self,x):
        n1=self.n1+x.n1
        n2=self.n2+x.n2
        NN= num(n1,n2)
        return NN
N1=num(66,78)
N2=num(23,59)
NN = N1 + N2
print(NN.n1)
print(NN.n2)

89
137

---

# PYTHON PROJECTS....
### NUMBER GUESING GAME...
### SIMPLE CALCULATOR...

In [ ]:
"""import random
randnum = random.randrange(1,50)
guess = int(input("Guess a number; "))
while True:
    if randnum < guess:
        print("Number guess is too low")
        print("Try again!!!")
        guess = int(input("Guess a number; "))
    else:
        print("Number guessed is too high")
        print("Try again!!!")
        guess = int(input("Guess a number; "))
print("You guess Correctly")
print("Congratulation you won...")"""

In [ ]:
import random
number = random.randrange(0,50)
guess = int(input("Guess a number between 1 and 50; "))
while guess != number:
    if guess < number:
        print("you need to guess higher, try again")
        guess = int(input("Guess a number between 1 and 50; "))
    else:
        print("you need to guess lower")
        guess = int(input("Guess a number between 1 and 50; "))
print("you guessed the number correctly after attempts")